name = "MAGE_PYCMA"
uuid = "f841c201-f6fd-4ce3-a497-54af563fbcd3"
authors = ["Camilo <dlt.camilo@gmail.com> and contributors"]
version = "1.0.0-DEV"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
